
h1 {  
    text-align: center;  
    padding: 23px;  
    background-color: rgb(148, 120, 18);  
    color: white;  
    }  
    h2{
        margin-top: auto ;
        text-align: center;
        background-color: rgb(148, 120, 18);
        color: rgb(201, 188, 188);
        padding: 23px;
        
        font-size: 30px;
    }
  
#clear{  
width: 270px;  
border: 3px solid wheat;  
    border-radius: 3px;  
    padding: 20px;  
    background-color: rgb(9, 5, 5);  
}  
  
.formstyle  
{  
width: 300px;  
height: 530px;  
margin: auto;  
border: 3px solid black;  
border-radius: 5px;  
padding: 20px;  
}  
  
  
  
input  
{  
width: 20px;  
background-color: rgb(148, 120, 18);
color: white;  
border: 3px solid black;  
    border-radius: 5px;  
    padding: 26px;  
    margin: 5px;  
    font-size: 15px;  
}  
  
  
#calc{  
width: 250px;  
border: 5px solid rgb(8, 8, 8);  
    border-radius: 3px;  
    padding: 20px;  
    margin: auto;  
}  
  